.App {
  text-align: center;
}

.usercard {
  text-align: center;
  border: 2px solid rgb(231, 231, 243);
  width: 500px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: rgb(247, 247, 241);
}

.users {
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
}

h1 {
  color: rgb(73, 68, 68);
  font-size: 40px;
}

p {
  color: rgb(73, 68, 68);
  font-size: 12px;
}